:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --third-text-color: #000000;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --fourth-background-color: #ffffff;
  --color-icon: #afb1b8;
  --time-animation: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*global reset styles*/
h1,
h2,
h3,
h5,
h6 {
  margin-bottom: 0;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section.top-spacer-null {
  padding-top: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.row-flex {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
}

.row-flex__two-columns .column-item {
  flex-basis: calc(100% / 2);
}

.row-flex__three-columns .column-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.row-flex__four-columns .column-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .item {
  margin-left: 50px;
}

.header-list .header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  outline: none;
  color: var(--accent-color);
}

.nav-link::after {
  content: '';

  left: 0;
  bottom: -2px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  opacity: 0;
  position: absolute;
  transition: 250ms var(--timing-function);
  transform: scaleX(0);
  border-radius: 2px;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.hover:hover,
.hover:focus {
  color: var(--second-color);
}

.notactive {
  color: var(--main-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;
}

.notactive:hover,
.notactive:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.active-alltime::before {
  content: '';

  left: 0;
  bottom: -2px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  opacity: 1;
  position: absolute;
  transition: 250ms var(--timing-function);
  transform: scaleX(1);
  border-radius: 2px;
}

.active-alltime {
  color: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(1.1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms var(--timing-function);
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  border-radius: 50%;
  cursor: pointer;
}

.close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .close-button,
.modal-button:focus .close-button {
  fill: var(--accent-color);
}

.row-flex__five-columns .column-item {
  flex-basis: calc(100% / 5);
}

.row-flex__six-columns .column-item {
  flex-basis: calc(100% / 6);
}

/*header*/
.header {
  background-color: var(--fourth-background-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-background-color);
  font-family: 'Raleway', sans-serif;
}

.logo-color {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.nav-link:hover,
.contacts a:hover,
.nav-link:focus,
.contacts a:focus {
  color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts-link {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  color: var(--main-text-color);
}

.footer {
  display: block;
  padding-bottom: 60px;
  padding-top: 60px;
  box-sizing: border-box;
  color: var(--secondary-text-color);
}

.position-foot {
  display: flex;
  align-items: baseline;
}

/*hero-section*/
.hero-section {
  background-color: var(--third-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/herojpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  max-width: 696px;
  margin-bottom: 30px;
}

.site-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-contacts-item:first-child {
  margin-right: 30px;
}

.sait-hover {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sait-hover:hover,
.sait-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button:focus,
.button:hover {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button-list .item + .item {
  margin-left: 8px;
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  padding: 6px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*abilities of the company*/

.hidden-title {
  visibility: hidden;
  display: none;
}

.ability-section,
.work-section {
  background-color: var(--main-background-color);
}

.work-label-overlay {
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  left: 0;

  background: rgba(47, 48, 58, 0.8);
}

.work-label-text {
  padding: 27px 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.work-item {
  position: relative;
}

.ability-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.ability-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.members-item {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.skill {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.company-members {
  background-color: var(--secondary-background-color);
}

/*footer*/

.container-footer {
  margin-right: 70px;
}
.footer {
  background-color: var(--third-background-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
}

.footer .social-links .link svg {
  fill: #ffffff;
}

.adress {
  font-style: normal;
}

.adress > p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-text-color);
}

.portfolio-filters {
  background-color: var(--main-background-color);
}

.works-item {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-style: normal;
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
}

.overlay {
  position: relative;
  display: flex;
  overflow: hidden;
}

.thumb::before {
  display: inline-block;
  position: absolute;
  content: '';

  width: 100%;
  height: 100%;
  transform: translateY(calc(50% + 150px));
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sait-hover:hover .overlay-text,
.sait-hover:focus .overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.overlay-text {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  opacity: 0;

  transform: translateY(calc(50% + 168px));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
}
.glr-item {
  margin-bottom: 30px;
  padding: 20px 16px;
  border: 1px solid #f5f4fa;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.team-img {
  margin-bottom: 30px;
  width: 270px;
  aspect-ratio: auto 270 / 260;
  height: 260px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-footer .item {
  margin-top: 9px;
}

.contacts-footer .contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contacts-footer .contacts-link:hover,
.contacts-footer .contacts-link:focus {
  color: #2196f3;
}

.abl-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.img-icon {
  text-align: center;
  fill: var(--secondary-title-color);
}

.soc-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 206px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  color: #afb1b8;
}

.soc-link .link {
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item li + li {
  margin-left: 10px;
}

.social-links .link svg {
  fill: #afb1b8;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: #afb1b8;
}

.link:focus svg,
.link:hover svg {
  fill: var(--accent-color);
}

.social-item:hover svg,
.social-item:focus svg {
  fill: var(--accent-color);
}

.soc-link:hover svg,
.soc-link:focus svg {
  fill: #ffffff;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent-color);
}

.social-links li + li {
  margin-left: 10px;
}

.soc-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.section-clients {
  margin: 94px 0;
}
.regular-customers {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.container-clients {
  text-align: center;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.clients li + li {
  margin-left: 30px;
}

.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover svg,
.link-client:focus svg {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sections {
  background-color: #2f303a;
  padding: 60px 0px;
  color: var(--fon-color);
}

.footer-adress-column {
  margin-right: 70px;
}

.email {
  margin-left: 93px;
}

.email-title {
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.email-form {
  align-items: baseline;
  display: flex;
}

.email-input {
  min-width: 358px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.btn-submit {
  display: flex;
  align-content: center;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;

  margin-left: 12px;

  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;

  text-align: left;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.btn-send-icon {
  margin-left: 10px;

  fill: var(--main-title-color);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

/*modal hidden window settings*/

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: block;

  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}

.modal-form {
  display: flex;
  flex-direction: column;

  padding: 40px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field:nth-child(6) {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-form-field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-imput {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus-within {
  color: var(--accent-color);
}

.modal-form-imput:focus + .modal-form-icon,
.modal-form-imput:focus {
  outline: none;
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;

  padding-top: 12px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-comment {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-check-label {
  justify-content: center;
  display: flex;
  align-items: center;
}

.check-text {
  color: var(--accent-color);
}
.agreement {
  font-size: 14px;
}
.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid #000000;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-check-label > .icon-check {
  background: var(--accent-color);
  border: transparent;
}

.form-btn {
  display: block;
  align-self: center;
  padding: 10px 55px;
  min-width: 200px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;

  text-align: center;
  justify-content: center;

  border: 0;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
